[user]
	name = Kenny Gray
  	email = kenneth-gray@users.noreply.github.com
[alias]
	st = status -s -b
	co = checkout
	nb = checkout -b
	br = branch
	bra = branch -a
	hist = log --oneline --decorate --graph
	aa = add -A
	diffs = diff --staged
	pp = pull -p
	fwl = push --force-with-lease
	ane = commit --amend --no-edit
[push]
	default = simple
[rerere]
	enabled = true
[core]
	editor = vim
